@font-face {
	font-family: 'Roboto Light';
	src: url('/fonts/Roboto-Light.woff2');
}
@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto-Regular.woff2');
}
@font-face {
	font-family: 'Roboto Medium';
	src: url('/fonts/Roboto-Medium.woff2');
}
@font-face {
	font-family: 'Roboto Bold';
	src: url('/fonts/Roboto-Bold.woff2');
}

:root {
	--black-color: #212121;
	--border-color: #D8D8D8;
	--text-gray-color: #5E5E5E;

	--background-color-progress: #D8D8D8;
	--background-color-progress-fill-line: #212121;
}
